<app-header [showMenu]="true" title="Vehículos"></app-header>

<ion-content fixed-slot-placement="before">
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goAddCar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ng-container *ngIf="vehiculos.length > 0; else noVehiculos">
    <ion-list>
      <ion-item *ngFor="let vehiculo of vehiculos">
        <ion-avatar slot="start">
          <img 
            *ngIf="vehiculo.imagen_vehiculo; else defaultImage" 
            [src]="vehiculo.imagen_vehiculo" 
            alt="Imagen del vehículo" 
          />
          <ng-template #defaultImage>
            <img src="assets/img/Car-example.png" alt="car avatar" />
          </ng-template>
        </ion-avatar>
        <ion-label>
          <h2>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h2>
          <p>Patente: {{ vehiculo.patente }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noVehiculos>
    <ion-text color="medium">
      <p>No tienes vehículos registrados.</p>
    </ion-text>
  </ng-template>
</ion-content>