<app-header [showMenu]="true" title="Vehículos"></app-header>

<ion-content fixed-slot-placement="before">
  
  <!-- Campo de búsqueda para el ID de usuario -->
  <ion-item class="search-bar">
    <ion-label position="floating">Buscar por ID de Usuario</ion-label>
    <ion-input type="number" [(ngModel)]="searchUserId" (ionInput)="filterVehiclesByUserId()"></ion-input>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goAddCar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ng-container *ngIf="filteredVehiculos.length > 0; else noVehiculos">
    <ion-list class="vehicle-list">
      <ion-item *ngFor="let vehiculo of filteredVehiculos" class="vehicle-item">
        <ion-avatar slot="start" class="vehicle-avatar">
          <img 
            *ngIf="vehiculo.imagen_vehiculo; else defaultImage" 
            [src]="vehiculo.imagen_vehiculo" 
            alt="Imagen del vehículo" 
          />
          <ng-template #defaultImage>
            <img src="assets/img/Car-example.png" alt="car avatar" />
          </ng-template>
        </ion-avatar>
        <ion-label>
          <h2 class="vehicle-title">{{ vehiculo.marca }} {{ vehiculo.modelo }}</h2>
          <p class="vehicle-details">Patente: {{ vehiculo.patente }}</p>
          <p class="vehicle-details">ID Usuario: {{ vehiculo.id_usuario }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noVehiculos>
    <ion-text color="medium" class="no-vehicles-message">
      <p>No hay vehículos registrados.</p>
    </ion-text>
  </ng-template>
</ion-content>
