<app-header [showMenu]="true" title="Viajes"></app-header>

<ion-content fixed-slot-placement="before">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goAddTrip()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="viajes.length > 0; else noViajesMessage">
    <ion-item *ngFor="let viaje of viajes">
      <ion-avatar slot="start">
        <img
          [src]="viaje.imagen_vehiculo || 'assets/img/default-car.png'"
          alt="Imagen del vehículo"
        />
      </ion-avatar>
      <ion-label>
        Origen: {{ viaje.ubicacion_origen }} <br>
        Destino: {{ viaje.ubicacion_destino }} <br>
        Fecha: {{ viaje.fecha | date:'short' }} <br>
        Costo: ${{ viaje.costo }} <br>
        Patente Vehículo: {{ viaje.patente }}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mostrar mensaje cuando no hay viajes -->
  <ng-template #noViajesMessage>
    <ion-item lines="none">
      <ion-label text-center>No tienes viajes registrados</ion-label>
    </ion-item>
  </ng-template>

  <ion-item>
    <ion-label position="stacked">Nuevo Estado</ion-label>
    <ion-input type="number" [(ngModel)]="nuevoEstado" placeholder="Ingresa el nuevo estado"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">ID del Viaje</ion-label>
    <ion-input type="number" [(ngModel)]="viajeId" placeholder="Ingresa el ID del viaje"></ion-input>
  </ion-item>
  
  <ion-button expand="block" (click)="actualizarEstadoViaje()">
    Actualizar Estado del Viaje
  </ion-button>
</ion-content>
