<app-header backButton="/main/car" title="Agregar vehículo"></app-header>

<ion-content>
  <!-- Skeleton que simula el formulario -->
  <ion-list *ngIf="loading">
    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- Botón -->
    <div style="margin-top: 20px">
      <div
        style="
          width: 100%;
          height: 40px;
          border-radius: 8px;
          background-color: var(--ion-color-light);
        "
      >
        <ion-skeleton-text
          animated
          style="width: 100%; height: 100%"
        ></ion-skeleton-text>
      </div>
    </div>
  </ion-list>

  <!-- Formulario de Registro de Vehículo  -->
  <div class="vehicle-registration-form" *ngIf="!loading">
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <!-- Input de patente -->
      <app-custom-input 
      icon="car-outline"
      [control]="form.controls.patente"
      type="text"
      label="Patente"
      ></app-custom-input>

      <!-- Input de marca -->
      <app-custom-input 
      icon="car-outline"
      [control]="form.controls.marca"
      type="text"
      label="Marca"
      ></app-custom-input>

      <!-- Input de modelo -->
      <app-custom-input 
      icon="build-outline"
      [control]="form.controls.modelo"
      type="text"
      label="Modelo"
      ></app-custom-input>

      <!-- Input de año -->
      <app-custom-input 
      icon="calendar-outline"
      [control]="form.controls.anio"
      type="number"
      label="Año"
      ></app-custom-input>

      <!-- Input de color -->
      <app-custom-input 
      icon="color-palette-outline"
      [control]="form.controls.color"
      type="text"
      label="Color"
      ></app-custom-input>

      <!-- Input de tipo de combustible -->
      <app-custom-input 
      icon="flame-outline"
      [control]="form.controls.tipo_combustible"
      type="text"
      label="Tipo de Combustible"
      ></app-custom-input>

      <!-- Botón para capturar foto del vehículo -->
      <ion-button (click)="takePhoto()" fill="outline">
        <ion-icon name="camera-outline"></ion-icon>
        Capturar Foto
      </ion-button>

      <!-- Botón para enviar el formulario -->
      <ion-button expand="block" fill="solid" type="submit">
        Registrar Vehículo
      </ion-button>

      <!-- Vista previa de la imagen -->
      <img *ngIf="imagen" [src]="imagen.src" alt="Vista previa del vehículo" height="100" width="100">

    </form>
  </div>

</ion-content>