<app-header [showMenu]="true" title="Agregar vehículo"></app-header>

<ion-content>
  <!-- Skeleton que simula el formulario -->
  <ion-list *ngIf="loading">
    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 50%; height: 15px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        animated
        style="width: 100%; height: 40px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- Botón -->
    <div style="margin-top: 20px">
      <div
        style="
          width: 100%;
          height: 40px;
          border-radius: 8px;
          background-color: var(--ion-color-light);
        "
      >
        <ion-skeleton-text
          animated
          style="width: 100%; height: 100%"
        ></ion-skeleton-text>
      </div>
    </div>
  </ion-list>

  <!-- Formulario de Registro de Vehículo -->
  <form *ngIf="!loading">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número de Placa</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Kilometraje</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Registrar Vehículo</ion-button>
    </ion-list>
  </form>
</ion-content>
