<app-header backButton="/auth" title="Recuperación de Cuenta"></app-header>
<ion-content class="auth-content">

  <div class="auth-container">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo></app-logo>

      <!-- Input de email -->
      <app-custom-input 
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        label="Correo"
        class="custom-input"
      ></app-custom-input>
      
      <!-- Validaciones de campo en input email -->
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
      </div>

      <!-- Botón de enviar código -->
      <ion-button expand="block" mode="android" class="submit-button" type="submit">
        Enviar código
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>

    </form>

  </div>

</ion-content>
