<app-header [showMenu]="true" title="Home"></app-header>

<ion-content>
  <!-- Saludo centrado -->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Bienvenido a TeLlevo</h3>
      </ion-col>
    </ion-row>

    <!-- Bloque del mapa -->
    <ion-row>
      <ion-col class="ion-text-center">
        <div
          style="border: 1px solid #ccc; border-radius: 10px; overflow: hidden"
        >
          <iframe
            [src]="currentLocation"            
            width="600"
            height="400"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h5>¡Realiza tu viaje!</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
