<ion-header>
  <ion-toolbar>
    <app-back-button></app-back-button>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="box">
    <ion-list id="formulario">
      <ion-item>
        <ion-input [(ngModel)]="correo" label="Usuario:" placeholder="ejemplo@gmail.com" type="email" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input [(ngModel)]="password" type="password:" label="Contraseña:" labelPlacement="fixed" placeholder="**********"></ion-input>
      </ion-item>
  
      <div class="botones">
        <ion-button type="submit">Iniciar sesión</ion-button>
        <br>
        <ion-button fill="outline" routerLink="/register">Crear cuenta</ion-button>
        <br>
      </div>
    
    </ion-list>
  </div>
</ion-content>
