<ion-header>
  <ion-toolbar>
    <app-back-button></app-back-button>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="box">
    <ion-list id="formulario">
      <ion-item>
        <ion-input label="Usuario" placeholder="Ejemplo@gmail.com" type="email" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input type="password" label="Contraseña" labelPlacement="fixed" placeholder="*******"></ion-input>
      </ion-item>
  
      <div class="botones">
        <ion-button type="submit">Iniciar Sesión</ion-button>
        <br>
        <ion-button fill="outline" routerLink="/register">Crear Cuenta</ion-button>
      </div>
    
    </ion-list>
  </div>
</ion-content>
