<app-header backButton="/main/trip" title="Registrar Nuevo Viaje"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="tripForm" class="form-container">
    <ion-list>
      <!-- Dropdown para seleccionar la ubicación de origen -->
      <ion-item lines="none" class="form-field">
        <ion-label position="stacked">Ubicación de Origen</ion-label>
        <ion-select formControlName="origen" placeholder="Selecciona la ubicación">
          <ion-select-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.nombre">
            {{ ubicacion.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Dropdown para seleccionar la ubicación de destino -->
      <ion-item lines="none" class="form-field">
        <ion-label position="stacked">Ubicación de Destino</ion-label>
        <ion-select formControlName="destino" placeholder="Selecciona la ubicación">
          <ion-select-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.nombre">
            {{ ubicacion.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Campo para ingresar el ID del vehículo -->
      <ion-item lines="none" class="form-field">
        <ion-label position="stacked">ID del Vehículo</ion-label>
        <ion-input formControlName="vehiculo_id" type="number" placeholder="Ingresa el ID del vehículo"></ion-input>
      </ion-item>
      
      <!-- Campo de costo fijo -->
      <ion-item lines="none" class="form-field">
        <ion-label position="stacked">Costo del Viaje</ion-label>
        <ion-input formControlName="costo" type="number" placeholder="10000" [disabled]="true"></ion-input>
      </ion-item>

      <!-- Botón de registrar viaje -->
      <ion-button 
        expand="block" 
        color="primary" 
        (click)="agregarViaje(tripForm.value.origen, tripForm.value.destino, tripForm.value.vehiculo_id)" 
        [disabled]="tripForm.invalid">
        Registrar Viaje
      </ion-button>
    </ion-list>
  </form>

  <!-- Panel Publicitario -->
  <div class="advert-panel">
    <div id="scrolling-text" class="scrolling-text">
      ¡Bienvenidos a nuestro servicio! Ofrecemos viajes seguros y confiables para ti. ¡Reserva ahora y obtén descuentos exclusivos!
    </div>
  </div>
</ion-content>
