// Paleta y sombras
$primary-color: #4a90e2;
$background-color: #f7f9fc;
$input-background: #ffffff;
$label-color: #4a4a4a;
$button-color: #007aff;
$border-color: #e5e7eb;
$shadow-color: rgba(0, 0, 0, 0.1);
$hover-shadow-color: rgba(0, 0, 0, 0.15);

// Fondo general
.addtrip-content {
  --background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100hv;
}

.addtrip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

// Contenedor del formulario
.form-container {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px $shadow-color;
  background-color: $input-background;
  margin-bottom: 1rem; // Espaciado inferior para separar del panel publicitario
}

// Campo del formulario
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem; // Reduce ligeramente para compactar el formulario

  ion-label {
    font-size: 0.9rem;
    font-weight: bold;
    color: $label-color;
    margin-bottom: 0.3rem; // Reduce para mejor alineación
  }

  ion-input, ion-select {
    background-color: $input-background;
    border-radius: 8px;
    padding: 0.6rem;
    border: 1px solid $border-color;
    box-shadow: 0px 2px 4px $shadow-color;
  }
}

// Botón de registrar viaje
ion-button[type="submit"] {
  background-color: $button-color;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 4px 10px $shadow-color;
  width: 100%;
  margin-top: 1.2rem; // Reduce un poco para alineación
}

// Panel publicitario
.advert-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  color: white;
  padding: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

// Animación del texto del panel publicitario
.scrolling-text {
  white-space: nowrap;
  font-weight: bold;
  font-size: 1rem;
  animation: scroll-text 10s linear infinite; // Añade la animación de desplazamiento
}

// Definición de la animación de desplazamiento
@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
