<app-header backButton="/auth" title="Registro"></app-header>

<ion-content>


  <div class="password-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()" >

      <app-logo></app-logo>

      <!-- Input de nombre -->
      <app-custom-input 
      autocomplete="name"
      icon="person-outline"
      [control]="form.controls.name"
      type="text"
      label="Nombre"
      ></app-custom-input>
            
      <!-- Validaciones de campo en input name -->
      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
          <div *ngIf="form.controls.name.errors?.['required']">El correo es requerido</div>
          <div *ngIf="form.controls.name.errors?.['minlenght']">El nombre debe tener al menos 5 carácteres</div>
      </div>

      <!-- Input de email -->
      <app-custom-input 
      autocomplete="email"
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo"
      ></app-custom-input>
      
      <!-- Validaciones de campo en input email -->
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
      </div>
  
      <!-- Input de teléfono -->
      <app-custom-input 
      autocomplete="name"
      icon="call-outline"
      [control]="form.controls.name"
      type="number"
      label="Teléfono"
      ></app-custom-input>
            
      <!-- Validaciones de campo en input name -->
      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
          <div *ngIf="form.controls.name.errors?.['required']">El teléfono es requerido</div>
          <div *ngIf="form.controls.name.errors?.['minlenght']">El número ingresado no existe</div>
      </div>

      <!-- Input de dirección -->
      <app-custom-input 
      autocomplete="name"
      icon="home-outline"
      [control]="form.controls.name"
      type="text"
      label="Dirección"
      ></app-custom-input>
            
      <!-- Validaciones de campo en input name -->
      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
          <div *ngIf="form.controls.name.errors?.['required']">La dirección es requerida</div>
          <div *ngIf="form.controls.name.errors?.['minlenght']">La dirección ingresada no es válida</div>
      </div>



      <!-- Input de contraseña -->
      <app-custom-input 
      [control]="form.controls.password"
      icon="lock-closed-outline"
      type="password"
      label="Contraseña"
      ></app-custom-input>

      <!-- Validaciones de campo en input password -->
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>
      
      <!-- Input de contraseña -->
      <app-custom-input 
      [control]="form.controls.password"
      icon="lock-closed-outline"
      type="password"
      label="Confirmar contraseña"
      ></app-custom-input>

      <!-- Validaciones de campo en input password -->
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>

      <!-- boton ingresar -->
      <ion-button class="ion-margin-top" routerLink="sign-up" expand="block" mode="android" fill="outline">
        Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>



    </form>

</div>

</ion-content>
